<ion-header>
  <ion-navbar color="primary" hideBackButton="true">
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-sm-12 col-md-4 offset-md-4>
        <home-landing-page></home-landing-page>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!session">
      <ion-col col-sm-12 col-md-4 offset-md-4>
        <ion-row>
          <button ion-button block color="primary" (click)="onSignIn()">Sign In</button>
          <button ion-button block color="secondary" (click)="onSignUp()">Sign Up</button>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="session">
      <ion-col col-sm-12 col-md-4 offset-md-4>
        <button ion-button block color="primary" (click)="goToPosts()">Go to Posts</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>© 2018 My Blog</ion-title>
  </ion-toolbar>
</ion-footer>